<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @input.word_count %> </h2>

<h2>Vowels: <%= @input.vowel_count %> </h2>

<h2>Consonants: <%= @input.consonant_count %> </h2>

<h2>Most Common Letter: G, used 3 times</h2>
